#graph{
    grid-column: 1;
    grid-row: 1;
}

@media (max-width: 1024px){
    #graph{
        grid-column: 1;
        grid-row: 1;
        height: unset;
    }

    #graph .card-body{
        padding: 0;
    }
}