#main-page{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding-top: 3.5rem;
}

@media only screen and (max-width: 1280px) {
    #main-page{
        grid-template-columns: 1fr 1fr;
    }
}

@media only screen and (max-width: 1024px) {
    #main-page{
        grid-template-columns: 1fr;
    }
}