.navbar{
    background-color: #4d4646;
    position: fixed!important;
    width: 100%;
    z-index: 30;
}

.navbar-brand span{
    color: #7fcd91
}

.theme-picker{
    font-size: 1.2rem;
    margin-left: auto;
    width: 10rem;
}