#active-windows{
    overflow-y: auto;
    grid-column: 2;
    grid-row: 1 / span 2;
}

#active-windows #columns{
    width: 100%;
    display: flex;
    flex-direction: row;
}

@media (max-width: 1024px){
    #active-windows{
        grid-column: 1;
        grid-row: 3;
    }
}