#info-page{
    padding-top: 3.5rem;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 3fr 1fr;
    height: 100vh;
}

@media (max-width: 1024px){
    #info-page{
        grid-template-columns: 1fr;
        grid-template-rows: 3fr 1fr 2fr;
        height: unset;
    }
}